<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">
      <form (submit)="submitAutomovil()">
        <div class="form-group">
          <input type="text" class="form-control" name="marca" placeholder="Marca" [(ngModel)]="automovil.marca">
          </div>
          <div class="form-group">
            <input type="text" name="modelo" placeholder="Modelo" class="form-control" [(ngModel)]="automovil.modelo">
          </div>
          <div class="form-group">
            <input type="string" name="año" placeholder="Año" class="form-control" [(ngModel)]="automovil.ano">
          </div>
  
          <div class="form-group">
            <input type="number" name="vendedor" placeholder="Vendedor" class="form-control" [(ngModel)]= "automovil.vendedor_id">
          </div>
          
          <div class="form-group">
            <input type="number" name="cliente" placeholder="Cliente" class="form-control" [(ngModel)]="automovil.cliente_id">
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Save
          </button>

      </form>
      
    </div>
  </div>
</div>